<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.san.logicuniversity_ad">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".LoginTemp">
        </activity>


        <!--<activity android:name=".DepartmentHeadMain" />-->
        <activity android:name=".ui.departmentHead.DepartmentHeadMain" />
        <activity android:name=".ui.departmentHead.DepartmentHeadRequests" />
        <activity android:name=".ui.departmentHead.DepartmentHeadRequestDecision" />
        <activity android:name=".ui.departmentHead.DepartmentHeadAppointRep" />
        <activity android:name=".ui.departmentHead.DepartmentHeadDelegateHead" />
        <activity android:name=".ui.departmentRep.DepartmentRepConfirmDisbursement" />
        <activity android:name=".ui.departmentRep.DepartmentRepMain" />

        <!--Store Activities-->

        <activity android:name=".ui.store.StoreClerkMainActivity" android:theme="@style/StoreAppTheme.NoActionBar">
        </activity>

        <activity android:name=".LoginActivity" android:theme="@style/StoreAppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>