<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.san.logicuniversity_ad">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.store.StoreClerkMainActivity" android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".ui.store.Store_StockChecking" />
        <activity android:name=".ui.store.Store_StockCheckList" />
        <activity android:name=".ui.store.Store_Success" />
        <activity android:name=".ui.store.Store_ViewDisbursementList" />
        <activity android:name=".ui.store.Store_DisbursementList" />
        <activity android:name=".ui.store.Store_RetrivalForm" android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".DepartmentHeadMain" />
        <activity android:name=".LoginTemp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <activity android:name=".ui.store.StoreClerk_menu" android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>